.header-expenses {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.expense-value {
  align-items: center;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
}
