table {
  align-items: center;
  border: 2px solid orange;
  justify-items: center;
  text-align: center;
  width: 100%;
}

th {
  background-color: grey;
  border: 2px solid black;
}

td {
  border: 2px solid black;
}
