.wallet-form {
  background-color: gray;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.form-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
